/* Basic styling for the sign-up form */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    margin-top: 150px;
    text-align: center;
  }
  
  .signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
  }
  
  .form-group {
    margin-bottom: 8px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-btn {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .signup-btn:hover {
    background-color: #218838;
  }
  
  .login-text {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: black;
  }
  
  .login-link {
    color: #007bff;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  